{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>Datenschutzerklärung</h1>
    <p>Auf dieser Webseite werden keine persönlichen Daten gespeichert oder verarbeitet.</p>
{% endblock %}