{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container container-hausbesuche">
        <img src="{{ asset('img/hausbesuche.jpg') }}" alt="Hausbesuche Bild">
    </div>
{% endblock %}