{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <p><strong>Impressum</strong><br>
        Friseur K.Gloser<br>
        Neugasse 28<br>
        65760 Eschborn
    </p><br>
    Email: salon-gloser@web.de<br>

    Tel.: 06196 / 43609<br>


    <p>
        <strong>Umsatzsteuer-Identifikationsnummer
            gemäß § 27 a Umsatzsteuergesetz:</strong><br>
        DE114261259
    </p>
    <p>
        <strong>Vertretungsberechtigte Geschäftsführer:</strong><br>
        Kurt Gloser<br>
        Neugasse 28 - 65760 Eschborn
    </p>
    <p>
        <strong>Inhaltlich Verantwortliche
            gemäß § 10 Absatz 3 MDStV:</strong><br>
        Matthias Gloser<br>
        Ginsterweg 4 - 65760 Eschborn
    </p>
    <p>
        <strong>Haftungshinweis:</strong><br>
        Trotz sorgfältiger inhaltlicher Kontrolle, übernehmen wir keine Haftung für die Inhalte externer Links.<br>
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
</div>
    <!-- Rechtsform fehlt-->
    <!--falls im Verein oder Register, dann angeben Registernummer mit namen des Registers-->
    <!-- Berufshaftpflichtversicherung -->
    <!-- Berufsbezeichnung und Handwerkskammer angeben -->
    <!-- Steuerberater vorschlagen Kosten für die Webseite von meinem Bruder an Vater -->
{% endblock %}