{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container container-flex-prices">
    <div>
        <table class="gfg">
            <thead>
            <tr>
                <td class="font-blue">Herren</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-cell-left">Trockenhaarschnitt</td>
                <td class="table-cell-right">12,50 €</td>
            </tr>
            <tr>
                <td class="table-cell-left table-cell-colored">Haarschnitt inkl. Waschen</td>
                <td class="table-cell-right table-cell-colored">15,00 €</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="gfg">
            <thead>
            <tr>
                <td class="font-blue">Damen</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-cell-left">Trockenhaarschnitt</td>
                <td class="table-cell-right">14,50 €</td>
            </tr>
            <tr>
                <td class="table-cell-left table-cell-colored">Haarschnitt inkl. Waschen</td>
                <td class="table-cell-right table-cell-colored">17,00 €</td>
            </tr>
            <tr>
                <td class="table-cell-left">Waschen, Föhnen</td>
                <td class="table-cell-right">14,95 €</td>
            </tr>
            <tr>
                <td class="table-cell-left table-cell-colored">Waschen, Einlegen</td>
                <td class="table-cell-right table-cell-colored">14,95 €</td>
            </tr>
            <tr>
                <td class="table-cell-left">Waschen, Schneiden,Föhnen</td>
                <td class="table-cell-right">26,50 €</td>
            </tr>
            <tr>
                <td class="table-cell-left table-cell-colored">Färben, Intensivtönung oder Strähnen</td>
                <td class="table-cell-right table-cell-colored">ab 22,50 €</td>
            </tr>
            <tr>
                <td class="table-cell-left">Dauerwelle inkl. Schnitt und Frisur</td>
                <td class="table-cell-right">ab 46,95 €</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}