.navbar-nav,
.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}

.all_salons{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/* breite der card auf der Homepage*/
.card.card-custom {
    width: 18rem;

}

li{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 20px;
}

.btn-custom{
    /*background-color: #153BD0;*/

    background-color: #153BD0;
    background-image: -moz-linear-gradient(top, #4567ec, #153BD0);
    background-image: -ms-linear-gradient(top, #4567ec, #153BD0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4567ec), to(bl));
    background-image: -webkit-linear-gradient(top, #4567ec, #153BD0);
    background-image: -o-linear-gradient(top, #4567ec, #153BD0);
    background-image: linear-gradient(top, #4567ec, #153BD0);
    color: white;
}

.font-blue{
    color: #224afb;
    font-size: 40px;
}
.font-red{
    color: #ED462F;
    font-size: 40px;
}

hr.custom-divider{
    height: 15px;
    background-image: linear-gradient(to top right,#8299fd,#224afb);
    border-radius: 5px;
}
/* für die Öffnungzeiten*/
.flex-column-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*für den footer*/
.flex-container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

footer{
    margin-top: 15px;
    padding: 5px 5px 5px 5px;


    background-color: #153BD0;
    background-image: -moz-linear-gradient(top, #4567ec, #153BD0);
    background-image: -ms-linear-gradient(top, #4567ec, #153BD0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4567ec), to(bl));
    background-image: -webkit-linear-gradient(top, #4567ec, #153BD0);
    background-image: -o-linear-gradient(top, #4567ec, #153BD0);
    background-image: linear-gradient(top, #4567ec, #153BD0);

}
footer a{
    color: white;
}

/* für die Preisliste auf der Seite Preise*/
table {
    border-collapse: collapse;
}
.gfg {
    border-collapse:separate;
    border-spacing:0 10px;
}
.table-cell-left{
    text-align: left;
    width: 300px;

}
.table-cell-right{
    text-align: right;
    width: 100px;
    color: #ED462F;
}
.table-cell-colored{
    background-color: aliceblue;
}
.container-flex-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Hausbesuche*/

.container-hausbesuche{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* salon Seiten */
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.container-adresse-oeffnungszeiten{
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.salon-adresse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 40px;
    margin-bottom: 20px;
}
.salon-oeffnungszeiten{
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
